{% extends "client/layout_client.html" %}
{% block body %}
   <h5>choix "déclinaison" de telephones</h5> {# {{ couleurs | pprint }}#}

    <div class="container">
        <div class="row align-self-right">
        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/telephone/details?id_telephone={{ telephone.id_telephone }}" >
                                <h2 class="card-title">
                                    <span style="color: #0b2e13">{{ telephone.nom }}</span><br>
                                    {{ telephone.prix }}
                                    €
                                </h2>
                                     {%  if telephone.image_telephone is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ telephone.image }}"  alt="image  de {{ telephone.nom }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ telephone.nom }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                            </div>
        </div>

            <ul>
                {% for item_couleur in declinaisons  %}
                    <li>
                    {% if item_couleur.id_couleur is defined and  item_couleur.id_couleur > 1 %}
                        couleur : <stong style="color:{{ item_couleur.code_couleur }}">{{ item_couleur.libelle_couleur }}</stong>
                    {% endif %}
                    {% if item_couleur.id_taille is defined and  item_couleur.id_taille > 1 %}
                      - taille : <span> {{ item_couleur.libelle_taille }}</span>
                    {% endif %}
                    {% if item_couleur.stock is defined and item_couleur.stock != None %}
                        {% if item_couleur.stock > 0 %}
                            <form action="/client/panier/add" method="post" class="col-2">
                                {% for item_couleur in declinaisons %}
                                    {% if item_couleur.stock is defined and item_couleur.stock > 0 %}
                                        <input type="radio" name="id_declinaison_telephone" value="{{ item_couleur.id_declinaison_telephone }}" required>
                                        <label>
                                            <span style="color:{{ item_couleur.code_couleur }}">{{ item_couleur.libelle_couleur }}</span>
                                            {% if item_couleur.libelle_taille %}
                                                - Taille : {{ item_couleur.libelle_taille }}
                                            {% endif %}
                                            <small class="text-muted">Stock restant : {{ item_couleur.stock }}</small>
                                        </label>
                                        <div class="input-group">
                                            <button class="btn btn-success" id="button-addon1">
                                                <i class="fas fa-shopping-cart"></i> Ajouter
                                            </button>
                                            <input type="number" id="input-{{ item_couleur.id_declinaison_telephone }}" step="1" min="0" max="{{ item_couleur.stock }}" class="form-control col-2" value="1" name="quantite" aria-describedby="button-addon1">
                                        </div>
                                    {% else %}
                                        <small class="text-muted">Téléphone momentanément indisponible</small>
                                    {% endif %}
                                    <hr class="col-5">
                                {% endfor %}
                            </form>
                       {% else %}
                                 <small class="text-muted">telephone  momentanément indisponible</small>
                        {% endif %}
                        </li>
                      {% endif %}
                    <hr class="col-5">
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}