{% extends "client/layout_client.html" %}

{% block body %}
    <div class="container">
        <div class="row align-self-right">
            {% include('client/boutique/_panier.html') %}
        </div>
        <div class="row">
            <br>
            <a href="/client/coordonnee/show" class="btn btn-secondary mt-5 col-2"> ajouter une adresse</a>
            <form action="/client/commande/add" method="post">
                {% if adresses %}
                    <br>
                    <h4>Choisissez l'adresse de livraison</h4>
                    <select name="adresse_livraison" required class="form-select">
                        <option value="">Sélectionner l'adresse de livraison</option>
                        {% for adresse in adresses %}
                            <option value="{{ adresse.id_adresse }}"
                                    {% if adresse_favori != None and adresse_favori.id_adresse == adresse.id_adresse %}
                                    selected
                                    {% endif %}
                            >{{ adresse.nom_adresse }} ({{ adresse.rue_adresse }})
                                {{ adresse.code_postal }} - {{ adresse.ville }}
                                {% if adresse_favori != None and adresse_favori.id_adresse == adresse.id_adresse %}
                                    (f)
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                    <br>
                    <h4>Choisissez l'adresse de facturation</h4>
                    Adresse de facturation identique <input type="checkbox" name="adresse_identique" value="adresse_identique" id="adresse_identique" onclick="identique()">
                    <br>
                    <div id="adresse_facturation_container" style="display:block;">
                        <select id="id_adresse_facturation" name="adresse_facturation" required class="form-select">
                            <option value="">Sélectionner l'adresse de facturation</option>
                            {% for adresse in adresses %}
                                <option value="{{ adresse.id_adresse }}">{{ adresse.nom_adresse }} ({{ adresse.rue_adresse }}) {{ adresse.code_postal }} - {{ adresse.ville }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Passer ma commande</button>
                {% else %}
                    <br>
                    Il faut une adresse de livraison et de facturation pour valider la commande.
                {% endif %}
                <br>
            </form>
        </div>
    </div>

    <script>
        function identique() {
            var checkbox = document.getElementById('adresse_identique');
            var selectLivraison = document.querySelector('select[name="adresse_livraison"]');
            var selectFacturation = document.querySelector('select[name="adresse_facturation"]');
            var containerFacturation = document.getElementById("adresse_facturation_container");

            if (checkbox.checked == true) {
                // Copie l'adresse de livraison dans l'adresse de facturation
                selectFacturation.value = selectLivraison.value;
                // Cache le sélecteur d'adresse de facturation
                containerFacturation.style.display = 'none';
            } else {
                // Affiche le sélecteur d'adresse de facturation
                containerFacturation.style.display = 'block';
            }
        }
    </script>

{% endblock %}
