{% extends 'admin/layout_admin.html' %}

{% block title %}
<title>Afficher les modèles de téléphone</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou modèle (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/modele/add">Ajouter un modèle</a>
<br><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Designation</th> <th>(ID Modèle)</th><th>Nombre de téléphones</th><th>Opération</th>
    </tr>
  </thead>
  <tbody>
    {% if modeles | length >= 1 %}
      {% for ligne in modeles %}
      <tr>
        <td>{{ ligne.libelle_modele }}</td>
        <td>{{ ligne.id_modele }}</td>
        <td><span style="color: red">{{ ligne.nbr_telephones }}</span></td>
        <td>
          <a class="btn btn-outline-danger" href="/admin/modele/edit?id_modele={{ ligne.id_modele }}">Éditer</a>&nbsp;
          <a class="btn btn-outline-warning" href="/admin/modele/delete?id_modele={{ ligne.id_modele }}">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4">Pas de modèle</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}