<!-- Footer -->
<footer class="footer">
    <p class="repriseTexte">1. Les valeurs de reprise peuvent varier selon l’état,
        l’année et la configuration de l’appareil que vous faites reprendre.
        Pour pouvoir bénéficier d’une remise et en recevoir le montant par virement bancaire,
        vous devez avoir au moins 18 ans et être titulaire d’un compte bancaire valable en France.
        Tous les appareils ne donnent pas droit à une remise. La reprise de nos téléphones
        n’est actuellement possible qu’en ligne. Vous pouvez obtenir des informations
        complémentaires sur les appareils éligibles auprès des partenaires de reprise de Mait.
        Mait se réserve le droit de refuser tout appareil ou de limiter le nombre d’appareils repris,
        pour quelque raison que ce soit. La valeur de l’appareil repris vous sera versée après l’achat d’un
        nouvel appareil Mait et après analyse de votre appareil, que Mait se chargera de recycler. Mait vous
        donnera une estimation de cette valeur de reprise au moment de l’achat de votre nouvel appareil. Cette
        estimation n’engage aucunement Mait et ne garantit pas le montant de la remise finale. Le montant de la
        remise finale est déterminé à la seule discrétion de Mait après analyse de votre appareil repris. Le virement
        bancaire est effectué sous réserve que l’appareil reçu soit conforme à la description fournie lors de la demande
        de reprise. Cette offre peut ne pas être disponible dans tous les magasins. Des conditions supplémentaires peuvent
        s’appliquer dans certains magasins. Vous pouvez obtenir des informations complémentaires auprès des partenaires agréés
        de Mait en charge de la reprise et du recyclage des appareils éligibles. Des limites et restrictions peuvent s’appliquer.

        <br><br> Un abonnement est requis pour Mait TV+.
    </p>

        <hr id="hrFooter">

        <br>

        <div id="partieTableauFooter">
            <p class="texteJustifie">
                <b>Acheter &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Store</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Smartphones</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Accessoires</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Cartes cadeaux</a>
            </p>

            <p class="texteJustifie">
                <b>Pour les entreprises &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Mait et les entreprises</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Acheter pour votre entreprise</a>
            </p>
        </div>

    <div id="partieTableauFooter">
            <p class="texteJustifie">
                <b>Compte &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Gérer votre identifiant Mait</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Compte Mait Store</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Mait.com</a>
            </p>

            <p class="texteJustifie">
                <b>À propos de Mait &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Newsroom</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Direction de Mait</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Travailler chez Mait</a>
            </p>
        </div>

    <div id="partieTableauFooter">
            <p class="texteJustifie">
                <b>Valeurs de Mait &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Accessibilité</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Éducation</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Environnement</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Confidentialité</a>
            </p>

            <p class="texteJustifie">
                <b>Pour l'Éducation &nbsp;</b> : &nbsp;
                <a class="lienFooter2" href="#">Mait et l'Éducation</a> &nbsp; | &nbsp;
                <a class="lienFooter2" href="#">Acheter pour l'université</a>
            </p>
        </div>

    <p class="repriseTexte">Vous pouvez aussi faire vos achats <a class="lienFooter" href="#">dans un Mait Store</a>, ou <a class="lienFooter" href="#">chez un revendeur</a>. Ou appeler le 0905 400 345.</p>

        <hr id="hrFooter">

   <p class="repriseTexte"> Copyright © 2024 Mait Inc. Tous droits réservés.

       <br><br>

        <a class="lienFooter2" href="#">Engagement de confidentialité</a> |
       <a class="lienFooter2" href="#">Utilisation des cookies</a> |
       <a class="lienFooter2" href="#">Conditions d'utilisation</a> |
       <a class="lienFooter2" href="#">Ventes et remboursements</a> |
       <a class="lienFooter2" href="#">Mentions légales</a> |
       <a class="lienFooter2" href="#">Plan du site</a>
   </p>
</footer>