<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
        <a href="/"><img id="imageLogoNavBar" src="../../static/images_asset/logo_mait.png"><span id="MaitSmartphonesText"><b>MAIT SMARTPHONES</b></span></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="/login">Se Connecter</a></li><!--
   --><li><a href="/signup">Inscription</a></li><!--
   --><li><a href="/forget-password">Mot de Passe Oublié</a></li>

        <a href="/base/init"><img id="imageBDD" src="../../static/images_asset/symboleBDD.png">INIT</a>
    </ul>
  </div>
</nav>