{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un exemplaire</title>
{% endblock %}

{% block body %}
    <h2>modifier la déclinaison d'un telephone </h2>
        <div class="row mt-5">
            telephone : <strong>{{ couleur.nom }}</strong><br>
            {% if couleur.image_telephone is defined and couleur.image_telephone is not none %}
            <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;"  src="{{ url_for('static', filename = 'images/')}}{{ couleur.image_telephone}}"  alt="image  de {{ couleur["libelle"] }}" >
            {% else %}
            <i class="card-img-top rounded mx-4 d-block">pas de photo</i>{#{{ couleur|pprint }}#}
            {% endif %}

            <div class="w-25">
                <form class="w-190" method="post" action="/admin/couleur/edit" enctype="multipart/form-data">
                    <input type="hidden" value="{{ couleur.id_couleur }}" name="id_couleur">
                    <input type="hidden" value="{{ couleur.telephone_id }}" name="id_telephone">
                    <label for="stock">Stock :
                        <input name="stock" type="number" min="0.0" step="0.01" value="{{ couleur.stock }}" class="form-control" >
                    </label>
                    {% if  d_taille_uniq is defined and  d_taille_uniq==1 %}
                        <div>!</div><div><strong>Une taille unique est définie </strong></div>
                        <div>il faut faut la supprimer pour modifier la taille</div>
                        <input type="hidden" name="taille" value="1">
                    {% else %}
                    <label for="id_taille">taille :
                        <select name="id_taille" class="form-select">
                            {% for taille in tailles %}
                                 <option value="{{ taille.id_taille }}"
                                         {% if taille.id_taille == couleur.taille_id %} selected {% endif %}
                                 > {{ taille.libelle }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                    {% if  d_couleur_uniq is defined and  d_couleur_uniq==1 %}
                        <div>!</div><div><strong>Une couleur unique est définie </strong></div>
                          <div>il faut faut la supprimer pour modifier la couleur</div>
                        <input type="hidden" name="couleur" value="1">
                    {% else %}
                    <label for="id_couleur"> couleur :
                        <select name="id_couleur" class="form-select">
                            {% for couleur in couleurs %}
                                 <option value="{{ couleur.id_couleur }}"
                                         {% if couleur.id_couleur == couleur.couleur_id %} selected {% endif %}
                                 > {{ couleur.libelle }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                    <br>
                <label for="submit">
                    <input name="submit" type="submit" value="Modifier" class="btn btn-primary mt-2">
                </label>
                </form>
                <a href="/admin/telephone/edit?id_telephone={{ couleur.telephone_id }}"><button class="btn btn-secondary  mt-4">annuler</button></a>
            </div>
        </div>
{% endblock %}
