{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>Modifier une déclinaison</title>
{% endblock %}

{% block body %}
    <h2>Modifier la déclinaison d'un téléphone</h2>
    <div class="row mt-5">
        {% if telephone %}
            Téléphone : <strong>{{ telephone.libelle_telephone }}</strong><br>
            {% if telephone.image_telephone %}
                <img class="card-img-top rounded mx-4 d-block" style="width:200px; height:200px; border: 1px solid black; padding: 25px;" src="{{ url_for('static', filename='images/') }}{{ telephone.image_telephone }}" alt="Image de {{ telephone.libelle_telephone }}">
            {% else %}
                <i class="card-img-top rounded mx-4 d-block">Pas de photo</i>
            {% endif %}
        {% else %}
            <p>Téléphone non trouvé</p>
        {% endif %}

        <div class="w-25">
            <form method="post" action="{{ url_for('admin_declinaison_telephone.valid_edit_declinaison_telephone') }}" enctype="multipart/form-data">
                <input type="hidden" value="{{ declinaison_telephone.id_declinaison_telephone }}" name="id_declinaison_telephone">
                <label for="stock">Stock:
                    <input name="stock" type="number" min="0" value="{{ declinaison_telephone.stock }}" class="form-control">
                </label>
                <label for="taille">Taille:
                    <select name="taille" class="form-select">
                        {% for taille in tailles %}
                        <option value="{{ taille.id_taille }}" {% if taille.id_taille == declinaison_telephone.taille_id %} selected {% endif %}>{{ taille.libelle_taille }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="couleur">Couleur:
                    <select name="couleur" class="form-select">
                        {% for couleur in couleurs %}
                        <option value="{{ couleur.id_couleur }}" {% if couleur.id_couleur == declinaison_telephone.couleur_id %} selected {% endif %}>{{ couleur.libelle_couleur }}</option>
                        {% endfor %}
                    </select>
                </label>
                <br>
                <input name="submit" type="submit" value="Modifier" class="btn btn-primary mt-2">
            </form>
            <a href="/admin/telephone/edit?id_telephone={{ declinaison_telephone.telephone_id }}"><button class="btn btn-secondary mt-4">Annuler</button></a>
        </div>
    </div>
{% endblock %}